@import url(https://fonts.googleapis.com/css?family=Righteous);

$gris: #f2f2f2;
$grisOscuro: #a6a6a6;
$magenta: #f53049;
$naranja1: #f29f05;
$naranja2: #f2a341;
$naranja3: #ffae00ab;
$negro: #292929;

.App {
  position: relative;
}
