<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css" />
</head>

<body>

    <div>
        <img src="" alt="" srcset="">
    </div>
    <div class="contCards">
    </div>
    <div class="contCards">
        <div class="login-box">
            <div class="card">
                <h2>BUSCAR</h2>
                <a href="/home">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Submit
                    <i class="fa-solid fa-magnifying-glass"></i>
                </a>
            </div>
            <div class="card">
                <h2>COTIZAR</h2>
                <a href="/home">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Submit
                    <i class="fa-solid fa-magnifying-glass"></i>
                </a>
            </div>
            <div class="card">
                <h2>HISTORIAL</h2>
                <a href="/home">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Submit
                    <i class="fa-solid fa-magnifying-glass"></i>
                </a>
            </div>
        </div>
    </div>
</body>

</html>