
@import "../../App.scss";

.a-useravatar {
  width: 60%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  background: linear-gradient(-45deg, #ee0979, #ff6a00, #ee0979, #ff6a00);
  background-size: 400% 400%;
  animation: gradient 15s ease-out infinite;
  outline: 4px solid $magenta;
  outline-offset: 5px;

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  &-guestpic {
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;

    img {
      width: 100%;
    }
  }

  &-profilepic {
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;

    img {
      width: 100%;
    }
  }
  &-name {
    color: white;
    position: relative;

    p {
      margin-bottom: -10px;
      font-weight: 800;
    }
    p:last-child {
      margin-top: 5px;
      text-align: right;
    }
    h3 {
      font-family: "Righteous", serif;
      font-size: 60px;
      text-shadow: 0.03em 0.03em 0 rgb(255, 16, 32);
      margin: 0;
    }
  }
}
